.header { 
    padding: 0 100px; 
    margin: auto;
    background-color:#ffffff38;
}
.navBar {
    padding-right: 160px;
}
.searchOpt {
    padding: 2px 20px;
}
.menuOpt {
    margin-left: 80px;
    color: #fff;
    font-weight: bold;
}
.logo img {
    width: 100px;
} 